header {
  width: 100%;
  .nav {
     padding: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;


     &__ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;
        gap: 10px;
        text-transform: uppercase;
        margin-top: 12px;

        &-list{
           list-style-type: none;

           &-link {
              text-decoration: none;
           }
        }
     }

  }
}